{% extends 'base.html' %}

{% block head %}
<title>Carrinho</title>
{% endblock %}

{% block body %}
  <body class="tm-gray-bg">
	{% include 'nav_bar.html' %}
		
	
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Carrinho</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>		
		</div>
	</section>
	
 </body>
{% endblock %}