{% extends 'base.html' %}

{% block head %}
<title>Perfil</title>
<link href="{{ url_for('static', filename='css/profile.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="tm-gray-bg">
	{% include 'nav_bar.html' %}
    <br>
    <br>
    <br>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <br><br><br><br><br>
                <h1>Olá,</h1>
                <h1>{{current_user.username}} !</h1>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Nome</label><input type="text" class="form-control" id=""name" name="name" placeholder="John Doe" value=""></div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" id=""password" name="password" value="" placeholder="password"></div>
                        <div class="col-md-12"><label class="labels">Telemóvel</label><input type="text" class="form-control" placeholder="+351 9xxxxxxxx" value=""></div>
                        <div class="col-md-12"><label class="labels">Morada</label><input type="text" class="form-control" placeholder="Morada" value=""></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="1234-123" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="john@email.com" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">País</label><input type="text" class="form-control" placeholder="Portugal" value=""></div>
                        <div class="col-md-6"><label class="labels">Cidade</label><input type="text" class="form-control" value="" placeholder="Lisboa"></div>
                    </div>
                    <br><br>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Alterar Perfil</button></div>
                </div>
            </div>
                <div class="col-md-4">
                <div class="p-3 py-5" style="align-items: center;">
                    <br><br><br><br>
                    <div style="text-align: center;">
                        <h4><a style="border: 2px; border-color: royalblue; border-style: groove; margin-bottom: 10px; padding: 4px;" href="/addestate">Adicionar Imóvel</a></h4><br>
                        <h4><a style="border: 2px; border-color: red; border-style: groove; color: red; padding: 4px;" href="/logout">Terminar Sessão</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>
{% endblock %}