.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 10%;
    margin-top: 10%;

}

.form-wrapper input{
    width: 400px;
}

.form-wrapper button{
    width: width 200px;
    margin-top: 20px;
}


.form-outline{
    margin-top: 10px;
    margin-bottom: 10px;
}



